angular-typescript/app/compiled
angular-typescript/node_modules
angular-typescript/test/compiled
angular-typescript/.vscode
angular2-typescript/**/*.js*
angular2-typescript/node_modules
angular2-typescript/typings
angular2-typescript/dist
